@model FormQuestionViewModel
@{
    ViewData["Title"] = "Index";
}


<h1>@Model.Form.Responses.Count() Responses</h1>
<table class="table">

    <thead>
        <tr>
            @foreach (var question in Model.Form.Questions)
            {

                <th>@question.Text</th>
            }

        </tr>
    </thead>
    @foreach (var response in Model.Form.Responses)
    {
        <tbody>
            <tr>
                @foreach (var answer in response.Answers)
                {
                    <td>@answer.Text</td>
                }
            </tr>
        </tbody>
    }
</table>


