@model expressForm.Web.Controllers.FormShareViewModel;

@{ 
    ViewData["Title"] = "Share";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <h4>@Model.Title</h4>
        <input class="form-control" type="text" placeholder="@Model.Link" readonly />
        <button class="btn btn-primary mt-4">Copy</button>
        <hr />
        <h4>Email</h4>
        <form>
            <div class="form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" />
                <br />
                <input class="form-control" type="text" name="subject" id="subject" placeholder="Subject" />
                <br />
                <input class="form-control" type="text" name="message" id="message" placeholder="Message" />
            </div>
            <button class="btn btn-primary">Send</button>
        </form>
    </div>
</div>