@model expressForm.Web.Models.FormViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview - ExpressForm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #e5f6fe;">
    <div class="container">
        <main role="main" class="py-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4>@Model.Title</h4>
                    <p>@Model.Description</p>
                    <input class="form-control" type="text" placeholder="@Model.Link" readonly />
                    <button class="btn btn-primary mt-4">Copy</button>
                    <hr />
                    <h4>Email</h4>
                    <form asp-action="SendForm" asp-route-FormId="@Model.Id">
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" />
                            <br />
                            <input class="form-control" type="text" name="subject" id="subject" placeholder="Subject" />
                            <br />
                            <input class="form-control" type="text" name="message" id="message" placeholder="Message" />
                        </div>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ExpressForm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>